* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#navegacao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin: 20px;
}

#navegacao li, #navegacao a {
    display: inline-block;
    padding: 2px;
    color: #000;
}

/* COmeçar o main */

#mainContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

aside {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.informacoesHome {
    width: 90%;
    display: flex;
    /* align-items: center; */
    text-align: left;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    border: solid 1px #ccc;
}

.informacoesHome h2 {
    color: #000;
    margin-bottom: 10px;
    font-size: 30px;
}

.informacoesHome p {
    font-size: 18px;
    margin-bottom: 10px;
    font-style: italic;
    width: 90%;
}

.informacoesHome strong {
    margin-bottom: 10px;
}

.informacoesHome a {
    color: #7c7c7c;
    font-size: 20px;
    text-align: end;
}

.informacoesHome img {
    width: 400px;
    height: 250px;
    margin-right: 20px;
    align-self: center;
    margin-bottom: 12px;
}

.conteudo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

